<section class="index-page">
  <div class="userWrapper">
    <h4>User panel</h4>
    <img src={{ picture }} class="avatar"/>
    <h3>Hello {{ name }} </h3> 
    <a href="/user/logout">Log out</a>
  </div>
</section>